<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:property-placeholder location="com/ab/commons/appProp.properties"/>
	<alias name="${choose.dao}" alias="dao"/>

</beans>

<!-- if something is not possbile with annotation then bring xml in 100% code approach
and link that xml with @Configuration class by using @ImportResource annotation -->